* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color: beige;
    color: black;
    line-height: 2rem;
}

header {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header h1 {
    font-size: 1.srem;
    font-weight: bold;
}

nav a {
    color: white;
    font-size: 1.srem;
    text-decoration: none;
    margin-left: 1.2rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}