* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    background-color: beige;
    color: black;
    line-height: 2rem;
}

header {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header h1 {
    font-size: 1.srem;
    font-weight: bold;
}

nav a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 1.2rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    position: fixed;
    color: white;
    background-color: blueviolet;
    font-size: 1.5rem;
    font-weight: bold;
}

section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.intro {
    background-color: rgb(169, 112, 238);
    text-align: center;
    padding: 60px 30px;
    border-radius: 1rem;
    box-shadow: 0 8px 20px black;
}

.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: black;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}

.card {
    background-color: rgb(169, 112, 238);
    text-align: center;
    padding: 60px 30px;
    border-radius: 1rem;
    box-shadow: 0 8px 20px black;
}

.card h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: black;
}

.card p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}

.project-section .section-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit);
}



.pr